<h1>Welcome to One stop Verification Portal!!</h1>


<form action="/addFile" method="POST">
<select name = "designation">
    <option value="verifier">Verifier</option>
    <option value = "university">University</option>
    <option value = "student">Student</option>
</select>
<br>
<label for="username">Username</label>
<input id="username" name="username">
<br>
<label for="password">Password</label>
<input id="password" name="password">
<br>
<input type="submit">
</form>