<h1>University Portal</h1>

<h2> Award Degree</h2>
<br>
<form>
    <label for="EnrollNum">EnrollMent Number</label>
    <input type = "text" id="EnrollNum" name="EnrollNum">

    <br>

    <label for="Degree">Upload Degree</label>
    <input type="file" id="Degree" name="Degree">

    <br>

    <button>Award Degree</button>
</form>

<h2> Degree Status</h2>
<br>
<form>
    <label for="EnrollNum">EnrollMent Number</label>
    <input type = "text" id="EnrollNum" name="EnrollNum">


    <button>Get Status</button>
</form>

<h2> Revoke Status</h2>
<br>
<form>
    <label for="EnrollNum">EnrollMent Number</label>
    <input type = "text" id="EnrollNum" name="EnrollNum">


    <button>Get Status</button>
</form>

